        <footer>
            <hr>
            CST336 Internet Programming. 2020&copy; Stephens <br />
            Contact information: <%- fakeEmail %>
            <div>
                References<br />
                <ol>
                    <li><a href="https://en.wikipedia.org/wiki/Women_in_computing">Women in computing</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Ada_Lovelace">Ada Lovelace</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Bombe">Bombe</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Grace_Hopper">Grace Hopper</a></li>
                </ol>
            </div>
        </footer>
    </body>
</html>