<%- include('partials/header.ejs') %>
            <a href="/">Home</a>
            <a href="/ada">Ada Lovelace</a>
            <a href="/bombe"><span id="current">Bombe</span></a>
            <a href="/grace">Grace Hopper</a>
        </nav>
        <br /><br />
        <main>
            <figure>
                <img src="img/bombe.png" alt="bombe">
            </figure>
            
            <div>
                <p>The bombe is an electro-mechanical computing device used during World War II by Brittish cryptologists to decipher encrypted messages intercepted from the Germans.</p>
                <p>The computing device was primarily operated by women, since the tedious work of computing and calculating was considered "women's work".</p>
                <p>While women's efforts in the war recieved media coverage at the time, history has largely forgotten their role.</p>
                <p>By the year 1943, almost all people employed to work with computers were women.</p>
                <br /><br />
            </div>
        </main>
<%- include('partials/footer.ejs') %>