<%- include('partials/header.ejs') %>
            <a href="/"><span id="current">Home</span></a>
            <a href="/ada">Ada Lovelace</a>
            <a href="/bombe">Bombe</a>
            <a href="/grace">Grace Hopper</a>
        </nav>
        <br /><br />
        <main>
            <figure>
                <img src="img/homepage.png" alt="home">
            </figure>
            <div>
                <p>Since as early as he 19th century, women have been involved in what has evolved into the computer science field today.</p>
                <p>Both our first algorithm intended for a computer <i>and</i> our first compiler were designed by women.</p>
                <p>Despite their involvement in the field from its very origin, as with many other fields, many of these women and their achievements are not widely known.</p>
                <p>This web page provides a background of some of these women and their achievements.</p>
                <p>Please click on the various tabs to learn a bit more!</p>
                <br /><br />
            </div>
        </main>
        email <%- fakeEmail %>
<%- include('partials/footer.ejs') %>